[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Cable Holder (Cable Clip) by bardiaesm - Thingiverse
Type=Link
URL=http://www.thingiverse.com/thing:70549
Icon=text-html
Name[fr_FR]=Cable Holder (Cable Clip) by bardiaesm - Thingiverse
